# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
data =  pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep="\t")

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = data

In [7]:
chipo.quantity.describe()

count    4622.000000
mean        1.075725
std         0.410186
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max        15.000000
Name: quantity, dtype: float64

In [5]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [4]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [4]:
# clean the item_price column and transform it in a float
chipo['price'] = chipo['item_price'].apply(lambda x: float(x[1:]))

In [5]:
# reassign the column with the cleaned prices
chipo['item_price'] = chipo.price
chipo.drop(columns='price', inplace=True)

In [10]:
# delete the duplicates in item_name and quantity
chipo_filtered = chipo.drop_duplicates(['item_name', 'quantity', 'choice_description'])
# drop_duplicates =  중복을 제거해줌
# 주어진 칼럼에서 중복 행이 있다면 제거함
# 4622 -> 1949로 줄어들었다

In [13]:
chipo_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1949 entries, 0 to 4612
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            1949 non-null   int64
 1   quantity            1949 non-null   int64
 2   item_name           1949 non-null   object
 3   choice_description  1915 non-null   object
 4   item_price          1949 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 91.4+ KB

In [12]:
chipo_filtered.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [18]:
# select only the products with quantity equals to 1
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]
chipo_one_prod.drop_duplicates(['item_name'], inplace=True)

C:\Users\Kyeul\AppData\Local\Temp\ipykernel_10004\1289322201.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chipo_one_prod.drop_duplicates(['item_name'], inplace=True)

In [19]:
more_ten = chipo_one_prod[chipo_one_prod['item_price'] > 10]
more_ten.shape[0]

12

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [29]:
chipo_one_prod[['item_name', 'item_price']].sort_values(by='item_price', ascending=False)

                                  item_name  item_price
606                        Steak Salad Bowl       11.89
1229                    Barbacoa Salad Bowl       11.89
1132                    Carnitas Salad Bowl       11.89
7                             Steak Burrito       11.75
168                   Barbacoa Crispy Tacos       11.75
39                            Barbacoa Bowl       11.75
738                       Veggie Soft Tacos       11.25
186                       Veggie Salad Bowl       11.25
62                              Veggie Bowl       11.25
57                           Veggie Burrito       11.25
250                           Chicken Salad       10.98
5                              Chicken Bowl       10.98
8                          Steak Soft Tacos        9.25
554                   Carnitas Crispy Tacos        9.25
237                     Carnitas Soft Tacos        9.25
56                      Barbacoa Soft Tacos        9.25
92                       Steak Crispy Tacos        9.25
664                             Steak Salad        8.99
54                               Steak Bowl        8.99
3750                         Carnitas Salad        8.99
21                         Barbacoa Burrito        8.99
27                         Carnitas Burrito        8.99
33                            Carnitas Bowl        8.99
11                     Chicken Crispy Tacos        8.75
12                       Chicken Soft Tacos        8.75
44                       Chicken Salad Bowl        8.75
1653                    Veggie Crispy Tacos        8.49
16                          Chicken Burrito        8.49
1694                           Veggie Salad        8.49
1414                                  Salad        7.40
510                                 Burrito        7.40
520                            Crispy Tacos        7.40
673                                    Bowl        7.40
298                       6 Pack Soft Drink        6.49
10                      Chips and Guacamole        4.45
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
674       Chips and Mild Fresh Tomato Salsa        3.00
111     Chips and Tomatillo Red Chili Salsa        2.95
233      Chips and Roasted Chili Corn Salsa        2.95
38    Chips and Tomatillo Green Chili Salsa        2.95
3     Chips and Tomatillo-Green Chili Salsa        2.39
300     Chips and Tomatillo-Red Chili Salsa        2.39
191      Chips and Roasted Chili-Corn Salsa        2.39
0              Chips and Fresh Tomato Salsa        2.39
40                                    Chips        2.15
6                             Side of Chips        1.69
263                       Canned Soft Drink        1.25
28                              Canned Soda        1.09
34                            Bottled Water        1.09

### Step 6. Sort by the name of the item

In [30]:
chipo_one_prod[['item_name', 'item_price']].sort_values(by='item_name', ascending=False)

                                  item_name  item_price
738                       Veggie Soft Tacos       11.25
186                       Veggie Salad Bowl       11.25
1694                           Veggie Salad        8.49
1653                    Veggie Crispy Tacos        8.49
57                           Veggie Burrito       11.25
62                              Veggie Bowl       11.25
8                          Steak Soft Tacos        9.25
606                        Steak Salad Bowl       11.89
664                             Steak Salad        8.99
92                       Steak Crispy Tacos        9.25
7                             Steak Burrito       11.75
54                               Steak Bowl        8.99
6                             Side of Chips        1.69
1414                                  Salad        7.40
2                          Nantucket Nectar        3.39
1                                      Izze        3.39
520                            Crispy Tacos        7.40
300     Chips and Tomatillo-Red Chili Salsa        2.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
111     Chips and Tomatillo Red Chili Salsa        2.95
38    Chips and Tomatillo Green Chili Salsa        2.95
191      Chips and Roasted Chili-Corn Salsa        2.39
233      Chips and Roasted Chili Corn Salsa        2.95
674       Chips and Mild Fresh Tomato Salsa        3.00
10                      Chips and Guacamole        4.45
0              Chips and Fresh Tomato Salsa        2.39
40                                    Chips        2.15
12                       Chicken Soft Tacos        8.75
44                       Chicken Salad Bowl        8.75
250                           Chicken Salad       10.98
11                     Chicken Crispy Tacos        8.75
16                          Chicken Burrito        8.49
5                              Chicken Bowl       10.98
237                     Carnitas Soft Tacos        9.25
1132                    Carnitas Salad Bowl       11.89
3750                         Carnitas Salad        8.99
554                   Carnitas Crispy Tacos        9.25
27                         Carnitas Burrito        8.99
33                            Carnitas Bowl        8.99
263                       Canned Soft Drink        1.25
28                              Canned Soda        1.09
510                                 Burrito        7.40
673                                    Bowl        7.40
34                            Bottled Water        1.09
56                      Barbacoa Soft Tacos        9.25
1229                    Barbacoa Salad Bowl       11.89
168                   Barbacoa Crispy Tacos       11.75
21                         Barbacoa Burrito        8.99
39                            Barbacoa Bowl       11.75
298                       6 Pack Soft Drink        6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [31]:
chipo.sort_values(by='item_price', ascending=False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [42]:
len(chipo[chipo.item_name == 'Veggie Salad Bowl'])

18

### Step 9. How many times did someone order more than one Canned Soda?

In [46]:
# Canned Soda 를 하나보다 많이 주문한 건수 찾기
len(chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)])

20